body {
    font-family: fantasy;
    background : black;
    margin-top: 60px;
}
 footer{
     color: orange;
 }
 
 header{
     color: red;
     background: yellow;
 }
 
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    color: yellow;
    
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    color: #676262;
    font-family: -webkit-pictograph;
    padding-left: 20px;
    padding-right: 20px;
}
